# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Project specific
*.csv
*.yoda
*.pkl
*.npy
*.hepmc
*.fifo

BayesOpt/output/
